<footer id="rodape">
  <div class="container">
      <div class="row">
          <div class="col-md-2">
              <span class="img-logo">Spotify</span>
          </div>
          <div class="col-md-2">
              <h4>Company :</h4>
              <ul class="list-unstyled">
                  <li>
                    <a href="#" class="no-link-style">Sobre</a>
                  </li>
                  <li>
                    <a href="#">Empregos</a>
                  </li>
                  <li>
                    <a href="#">Imprensa</a>
                  </li>
                  <li>
                    <a href="#">Novidades</a>
                  </li>
              </ul>
          </div>
          <div class="col-md-2">
              <h4>Comunidades :</h4>
              <ul class="list-unstyled">
                  <li>
                    <a href="#">Artistas</a>
                  </li>
                  <li>
                    <a href="#">Desenvolvedores</a>
                  </li>
                  <li>
                    <a href="#">Marcas</a>
                  </li>
              </ul>
          </div>

          <div class="col-md-2">
              <h4 >Links Uteis :</h4>
              <ul class="list-unstyled">
                  <li>
                    <a href="#">Ajuda</a>
                  </li>
                  <li>
                    <a href="#">Presentes</a>
                  </li>
                  <li>
                    <a href="#">Player da web</a>
                  </li>
              </ul>
          </div>
          <div class="col-md-4">
              <ul class="nav">
                  <li class="item-rede-social">
                      <a href=><img src="../../../assets/imagens/facebook.png">
                      </a>
                  </li>
                  <li class="item-rede-social">
                      <a href=><img src="../../../assets/imagens/twitter.png">
                      </a>
                  </li>
                  <li class="item-rede-social">
                      <a href=><img src="../../../assets/imagens/instagram.png">
                      </a>
                  </li>
              </ul>
          </div>
      </div>
      <!--row-->
  </div>
</footer>
