@import "~bootstrap/dist/css/bootstrap.min.css";

/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: auto;
}

html,
body{
  height: 100%;
}

body{
  background: url('/src/assets/imagens/capa.png'), url('/src/assets/imagens/ruido.png'), linear-gradient(50deg, #ff4169, #7c26f8);
  background-attachment: fixed;
  font-family: Helvetica, arial, sans-serif;
  overflow-x: hidden;
}
