h1 {
  color: aliceblue;
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
}

.capa{
  display: table;
  width: 100%;
}

.texto-capa{
  padding: 15rem;
  text-align: center;
  display: table-cell;
  vertical-align: middle;

}

.btn-custom {
  color: white;
  border-radius: 500px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  padding: 10px 35px;
  margin: 0px 15px;
  text-transform: uppercase;
  transition: background 0.4s, color 0.4s;
}

.btn-roxo {
  background: #7c25f8;
}

.btn-roxo:hover {
  background-color: #6207e3;
  color: white;
}

.btn-branco {
  border: 2px solid white;
}

.btn-branco:hover {
  background-color: white;
  color: black;
}
